{% extends "website/base.html" %}

{% block content %}
<h1 id="title" style="margin-left:200px;">Movies Today </h1>

    <table class="table table-hover" style="margin-left:200px; width:80%;" >
        <tr class="active">
        <th class="col-sm-3">Title</th>
        <th class="col-sm-2">Rating</th>
        <th class="col-sm-3">Genres</th>
        </tr>
        {% for movie in movies %}
            <tr>
                <td >
                    <a href="{% url 'cinema:projections' movie.id %}">
                        {{ movie.title }}
                </td>
                <td>
                    {{ movie.rating }}
                </td>
                <td>
                    {{ movie.get_genres }}
                </td>
            </tr>
    {% endfor %}
    </table>
{% endblock content %}
