{% extends "website/base.html" %}
{% load custfilter %}

{% block content %}
<h1 id="title" style="margin-left:200px;">
    {% with projections|first as first_projection %}
        {{ first_projection.movie.title }}
    {% endwith %}
</h1>
    <table class="table table-hover" style="width:80%;" align="center" >
        <tr class="active">
        <th class="col-sm-3">Type</th>
        <th class="col-sm-3">Date</th>
        <th class="col-sm-3">Price</th>
        <th class="col-sm-3">Available seats</th>
        </tr>
        {% for projection in projections %}
            <tr >
                <td >
                    <a href="{% url 'cinema:proj_info' projection.id %}">
                    {{ projection.dimension.ptype }}
                </td>
                <td>
                    {{ projection.date| date:"j.m.o - G:i" }}
                </td>
                <td>
                    {{ projection.dimension.pcost }} лв. {{ projection.reservation_set.count }}
                </td>
                <td>
                    {{ hall_seats|subtract:projection.reservation_set.count }}
                </td>
            </tr>
    {% endfor %}
    </table>
{% endblock content %}
